@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Arial";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input + .checkbox__label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-check.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  transform: scale(0);
}
.checkbox__input:checked + .checkbox__label:after {
  transform: scale(1);
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  border: 1px solid #858383;
  border-radius: 2px;
}
.checkbox__text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #42474C;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.green {
  color: #3CBF32;
}

.btn {
  background: #FFFFFF;
  border: 1px solid #3CBF32;
  border-radius: 10px;
  max-width: 210px;
  width: 100%;
  padding: 9px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3CBF32;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
@media (any-hover: hover) {
  .btn:hover {
    background: #edecec;
  }
}

.btn-green {
  color: #fff;
  border: none;
  background: #3CBF32;
}
@media (any-hover: hover) {
  .btn-green:hover {
    background: #32a22a;
  }
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.5625;
  color: #42474C;
}
@media (min-width: 89.375em) {
  .title {
    font-size: 1.5625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.125rem , 0.9694905213rem  +  0.663507109vw , 1.5625rem )) {
    .title {
      font-size: clamp( 1.125rem , 0.9694905213rem  +  0.663507109vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9694905213rem  +  0.663507109vw , 1.5625rem )) {
    .title {
      font-size: calc(1.125rem + 0.4375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .title {
    font-size: 1.125rem;
  }
}

.form {
  background: rgba(60, 191, 50, 0.2);
  box-shadow: 0px 0px 4px rgba(60, 191, 50, 0.1);
  border-radius: 16px;
  padding: 5px 10px;
}
@media (min-width: 89.375em) {
  .form {
    height: 3rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (height: clamp( 2rem , 1.644549763rem  +  1.5165876777vw , 3rem )) {
    .form {
      height: clamp( 2rem , 1.644549763rem  +  1.5165876777vw , 3rem );
    }
  }
  @supports not (height: clamp( 2rem , 1.644549763rem  +  1.5165876777vw , 3rem )) {
    .form {
      height: calc(2rem + 1 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .form {
    height: 2rem;
  }
}
.form input {
  height: 100%;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 0.75rem;
  color: rgba(60, 191, 50, 0.75);
}
.form input::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  color: rgba(60, 191, 50, 0.75);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  background: #FAFFFA;
}
.footer__container {
  padding-top: 48px;
  padding-bottom: 37px;
}
.footer__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #A5AAB5;
}
@media (min-width: 89.375em) {
  .footer__top {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 3.5693127962rem  +  -1.8957345972vw , 3.125rem )) {
    .footer__top {
      padding-bottom: clamp( 1.875rem , 3.5693127962rem  +  -1.8957345972vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 3.5693127962rem  +  -1.8957345972vw , 3.125rem )) {
    .footer__top {
      padding-bottom: calc(3.125rem + -1.25 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__top {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 48em) {
  .footer__top {
    flex-wrap: wrap;
  }
}
@media (max-width: 35em) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__part {
  margin-right: 10px;
}
.footer__part:last-child {
  margin-right: 0;
}
@media (max-width: 48em) {
  .footer__part:first-child {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (max-width: 35em) {
  .footer__part {
    padding-bottom: 20px;
  }
}
@media (min-width: 89.375em) {
  .footer__logo {
    width: 14.375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (width: clamp( 7.5rem , 5.0562796209rem  +  10.4265402844vw , 14.375rem )) {
    .footer__logo {
      width: clamp( 7.5rem , 5.0562796209rem  +  10.4265402844vw , 14.375rem );
    }
  }
  @supports not (width: clamp( 7.5rem , 5.0562796209rem  +  10.4265402844vw , 14.375rem )) {
    .footer__logo {
      width: calc(7.5rem + 6.875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__logo {
    width: 7.5rem;
  }
}
.footer__logo img {
  width: 100%;
  max-width: 100%;
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}
@media (max-width: 48em) {
  .footer__social {
    width: auto;
  }
}
.footer__social-item {
  margin-right: 5px;
}
@media (min-width: 89.375em) {
  .footer__social-item {
    max-width: 2rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (max-width: clamp( 1.25rem , 0.9834123223rem  +  1.1374407583vw , 2rem )) {
    .footer__social-item {
      max-width: clamp( 1.25rem , 0.9834123223rem  +  1.1374407583vw , 2rem );
    }
  }
  @supports not (max-width: clamp( 1.25rem , 0.9834123223rem  +  1.1374407583vw , 2rem )) {
    .footer__social-item {
      max-width: calc(1.25rem + 0.75 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__social-item {
    max-width: 1.25rem;
  }
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item img {
  width: 100%;
}
@media (max-width: 48em) {
  .footer__social-item {
    margin-right: 15px;
  }
}
.footer__part-name {
  font-weight: 600;
  line-height: 1.2222222222;
  color: #000000;
}
@media (min-width: 89.375em) {
  .footer__part-name {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.9375rem , 0.8708530806rem  +  0.2843601896vw , 1.125rem )) {
    .footer__part-name {
      font-size: clamp( 0.9375rem , 0.8708530806rem  +  0.2843601896vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.9375rem , 0.8708530806rem  +  0.2843601896vw , 1.125rem )) {
    .footer__part-name {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__part-name {
    font-size: 0.9375rem;
  }
}
@media (min-width: 89.375em) {
  .footer__part-name {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem )) {
    .footer__part-name {
      margin-bottom: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem )) {
    .footer__part-name {
      margin-bottom: calc(0.5rem + 0.4375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__part-name {
    margin-bottom: 0.5rem;
  }
}
.footer__part-list__item {
  font-weight: 500;
  line-height: 1.0666666667;
  color: #A5AAB5;
  transition: all 0.2s ease;
}
@media (min-width: 89.375em) {
  .footer__part-list__item {
    font-size: 0.9375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.75rem , 0.6833530806rem  +  0.2843601896vw , 0.9375rem )) {
    .footer__part-list__item {
      font-size: clamp( 0.75rem , 0.6833530806rem  +  0.2843601896vw , 0.9375rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6833530806rem  +  0.2843601896vw , 0.9375rem )) {
    .footer__part-list__item {
      font-size: calc(0.75rem + 0.1875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__part-list__item {
    font-size: 0.75rem;
  }
}
@media (min-width: 89.375em) {
  .footer__part-list__item {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.625rem , 1.4721563981rem  +  -0.9478672986vw , 1.25rem )) {
    .footer__part-list__item {
      margin-bottom: clamp( 0.625rem , 1.4721563981rem  +  -0.9478672986vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 1.4721563981rem  +  -0.9478672986vw , 1.25rem )) {
    .footer__part-list__item {
      margin-bottom: calc(1.25rem + -0.625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__part-list__item {
    margin-bottom: 1.25rem;
  }
}
.footer__part-list__item:last-child {
  margin-bottom: 0;
}
@media (any-hover: hover) {
  .footer__part-list__item:hover {
    color: #3CBF32;
  }
}
.footer__part-text {
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: -0.02em;
  color: #A5AAB5;
}
@media (min-width: 89.375em) {
  .footer__part-text {
    font-size: 0.75rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5rem , 0.4111374408rem  +  0.3791469194vw , 0.75rem )) {
    .footer__part-text {
      font-size: clamp( 0.5rem , 0.4111374408rem  +  0.3791469194vw , 0.75rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , 0.4111374408rem  +  0.3791469194vw , 0.75rem )) {
    .footer__part-text {
      font-size: calc(0.5rem + 0.25 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__part-text {
    font-size: 0.5rem;
  }
}
.footer__form {
  margin-top: 10px;
}
.footer__bottom {
  text-align: center;
}
@media (min-width: 89.375em) {
  .footer__bottom {
    padding-top: 1.4375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 1.4375rem , 1.7763625592rem  +  -0.3791469194vw , 1.6875rem )) {
    .footer__bottom {
      padding-top: clamp( 1.4375rem , 1.7763625592rem  +  -0.3791469194vw , 1.6875rem );
    }
  }
  @supports not (padding-top: clamp( 1.4375rem , 1.7763625592rem  +  -0.3791469194vw , 1.6875rem )) {
    .footer__bottom {
      padding-top: calc(1.6875rem + -0.25 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .footer__bottom {
    padding-top: 1.6875rem;
  }
}
.footer__copy {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  color: rgba(24, 20, 51, 0.4901960784);
}
