@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Arial";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.cards__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
}
@media (max-width: 80em) {
  .cards__wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 61.9375em) {
  .cards__wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 51.875em) {
  .cards__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 35em) {
  .cards__wrap {
    grid-template-columns: 1fr 1fr !important;
  }
}

.item-card {
  width: 100%;
}
.item-card__wrap {
  width: 100%;
}
.item-card__image-wrap {
  position: relative;
  width: 100%;
  background: #CEEFCB;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  overflow: hidden;
}
.item-card .item-card__image > img {
  display: block;
  margin-left: auto;
}
@media (max-width: 38.75em) {
  .item-card .item-card__image > img {
    margin: 0 auto;
  }
}
.item-card__sale {
  background: #FFFFFF;
  border-radius: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1.25;
  color: #3CBF32;
  display: inline-block;
  position: absolute;
  left: 16px;
  bottom: 55px;
  padding: 3px 6px;
}
@media (min-width: 89.375em) {
  .item-card__sale {
    font-size: 0.75rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.625rem , 0.5805687204rem  +  0.1895734597vw , 0.75rem )) {
    .item-card__sale {
      font-size: clamp( 0.625rem , 0.5805687204rem  +  0.1895734597vw , 0.75rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.5805687204rem  +  0.1895734597vw , 0.75rem )) {
    .item-card__sale {
      font-size: calc(0.625rem + 0.125 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__sale {
    font-size: 0.625rem;
  }
}
@media (max-width: 38.75em) {
  .item-card__sale {
    right: 10px;
    top: 10px;
    left: auto;
    bottom: auto;
  }
}
.item-card__like {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 9px 4px;
  padding-bottom: 5px;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media (max-width: 38.75em) {
  .item-card__like {
    padding: 6px 5px;
    padding-bottom: 2px;
  }
  .item-card__like img {
    width: 12px;
    height: 12px;
  }
}

.item-card__info {
  font-family: "Lato", Arial;
}
@media (min-width: 89.375em) {
  .item-card__info {
    padding-top: 0.625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.3125rem , 0.2014218009rem  +  0.4739336493vw , 0.625rem )) {
    .item-card__info {
      padding-top: clamp( 0.3125rem , 0.2014218009rem  +  0.4739336493vw , 0.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , 0.2014218009rem  +  0.4739336493vw , 0.625rem )) {
    .item-card__info {
      padding-top: calc(0.3125rem + 0.3125 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info {
    padding-top: 0.3125rem;
  }
}
.item-card__info-name {
  font-weight: 500;
  line-height: 1.2307692308;
  color: #000000;
  display: inline-block;
}
@media (min-width: 89.375em) {
  .item-card__info-name {
    font-size: 0.8125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.625rem , 0.5583530806rem  +  0.2843601896vw , 0.8125rem )) {
    .item-card__info-name {
      font-size: clamp( 0.625rem , 0.5583530806rem  +  0.2843601896vw , 0.8125rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.5583530806rem  +  0.2843601896vw , 0.8125rem )) {
    .item-card__info-name {
      font-size: calc(0.625rem + 0.1875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info-name {
    font-size: 0.625rem;
  }
}
@media (min-width: 89.375em) {
  .item-card__info-name {
    margin-bottom: 0.3125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem )) {
    .item-card__info-name {
      margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem )) {
    .item-card__info-name {
      margin-bottom: calc(0.0625rem + 0.25 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info-name {
    margin-bottom: 0.0625rem;
  }
}
.item-card__info-price {
  display: flex;
  align-items: center;
}
@media (min-width: 89.375em) {
  .item-card__info-price {
    margin-bottom: 0.3125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem )) {
    .item-card__info-price {
      margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.0625rem , -0.0263625592rem  +  0.3791469194vw , 0.3125rem )) {
    .item-card__info-price {
      margin-bottom: calc(0.0625rem + 0.25 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info-price {
    margin-bottom: 0.0625rem;
  }
}
.item-card__info-price__currrent {
  font-weight: 600;
  line-height: 1.2307692308;
  color: #000000;
}
@media (min-width: 89.375em) {
  .item-card__info-price__currrent {
    font-size: 0.8125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.75rem , 0.7277843602rem  +  0.0947867299vw , 0.8125rem )) {
    .item-card__info-price__currrent {
      font-size: clamp( 0.75rem , 0.7277843602rem  +  0.0947867299vw , 0.8125rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7277843602rem  +  0.0947867299vw , 0.8125rem )) {
    .item-card__info-price__currrent {
      font-size: calc(0.75rem + 0.0625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info-price__currrent {
    font-size: 0.75rem;
  }
}
.item-card__info-price__currrent:not(:last-child) {
  margin-right: 8px;
}
.item-card__info-price__old {
  font-weight: 400;
  line-height: 1.2222222222;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 89.375em) {
  .item-card__info-price__old {
    font-size: 0.5625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5rem , 0.4777843602rem  +  0.0947867299vw , 0.5625rem )) {
    .item-card__info-price__old {
      font-size: clamp( 0.5rem , 0.4777843602rem  +  0.0947867299vw , 0.5625rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , 0.4777843602rem  +  0.0947867299vw , 0.5625rem )) {
    .item-card__info-price__old {
      font-size: calc(0.5rem + 0.0625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__info-price__old {
    font-size: 0.5rem;
  }
}
.item-card__other {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 400;
  line-height: 1.2;
  color: #858383;
}
@media (min-width: 89.375em) {
  .item-card__other {
    font-size: 0.625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5rem , 0.4555687204rem  +  0.1895734597vw , 0.625rem )) {
    .item-card__other {
      font-size: clamp( 0.5rem , 0.4555687204rem  +  0.1895734597vw , 0.625rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , 0.4555687204rem  +  0.1895734597vw , 0.625rem )) {
    .item-card__other {
      font-size: calc(0.5rem + 0.125 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__other {
    font-size: 0.5rem;
  }
}
.item-card__part:first-child {
  flex: 1 1 auto;
}
@media (max-width: 38.75em) {
  .item-card__delivery {
    display: none;
  }
}

.item-card__image-ibg {
  padding-bottom: 116.9082125604%;
  display: block;
  width: 100%;
}

.cards__wrap.row {
  grid-template-columns: 1fr !important;
  gap: 0px;
}
.cards__wrap.row .item-card {
  border-bottom: 1px solid rgba(199, 191, 191, 0.4);
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card {
    padding-top: 2rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem )) {
    .cards__wrap.row .item-card {
      padding-top: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem )) {
    .cards__wrap.row .item-card {
      padding-top: calc(0.625rem + 1.375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card {
    padding-top: 0.625rem;
  }
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card {
    padding-bottom: 2rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem )) {
    .cards__wrap.row .item-card {
      padding-bottom: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.1362559242rem  +  2.0853080569vw , 2rem )) {
    .cards__wrap.row .item-card {
      padding-bottom: calc(0.625rem + 1.375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card {
    padding-bottom: 0.625rem;
  }
}
.cards__wrap.row .item-card:last-child {
  border-bottom: none;
}
@media (max-width: 35em) {
  .cards__wrap.row .item-card {
    border-bottom: none;
  }
}
.cards__wrap.row .item-card__wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 54.0625em) {
  .cards__wrap.row .item-card__wrap {
    align-items: flex-start;
  }
}
.cards__wrap.row .item-card__decription {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #858383;
  max-width: 440px;
  display: block;
}
@media (max-width: 54.0625em) {
  .cards__wrap.row .item-card__decription {
    display: none;
  }
}
.cards__wrap.row .item-card__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 25px;
  margin-bottom: 18px;
}
@media (max-width: 54.0625em) {
  .cards__wrap.row .item-card__tags {
    display: none;
  }
}
.cards__wrap.row .item-card__tag {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 4px 12px;
  background: #3CBF32;
  border-radius: 10px;
}
.cards__wrap.row .item-card__info-price {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__info-price__currrent {
    font-size: 1.5625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.9375rem , 0.7153436019rem  +  0.9478672986vw , 1.5625rem )) {
    .cards__wrap.row .item-card__info-price__currrent {
      font-size: clamp( 0.9375rem , 0.7153436019rem  +  0.9478672986vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 0.9375rem , 0.7153436019rem  +  0.9478672986vw , 1.5625rem )) {
    .cards__wrap.row .item-card__info-price__currrent {
      font-size: calc(0.9375rem + 0.625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__info-price__currrent {
    font-size: 0.9375rem;
  }
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__info-price__old {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem )) {
    .cards__wrap.row .item-card__info-price__old {
      font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem )) {
    .cards__wrap.row .item-card__info-price__old {
      font-size: calc(0.5625rem + 0.5625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__info-price__old {
    font-size: 0.5625rem;
  }
}
.cards__wrap.row .item-card__delivery {
  display: block !important;
}
.cards__wrap.row .item-card__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__info {
    padding-left: 2.75rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (padding-left: clamp( 0.8125rem , 0.1238151659rem  +  2.9383886256vw , 2.75rem )) {
    .cards__wrap.row .item-card__info {
      padding-left: clamp( 0.8125rem , 0.1238151659rem  +  2.9383886256vw , 2.75rem );
    }
  }
  @supports not (padding-left: clamp( 0.8125rem , 0.1238151659rem  +  2.9383886256vw , 2.75rem )) {
    .cards__wrap.row .item-card__info {
      padding-left: calc(0.8125rem + 1.9375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__info {
    padding-left: 0.8125rem;
  }
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__image-wrap {
    width: 17.5rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (width: clamp( 9.6875rem , 6.9105450237rem  +  11.8483412322vw , 17.5rem )) {
    .cards__wrap.row .item-card__image-wrap {
      width: clamp( 9.6875rem , 6.9105450237rem  +  11.8483412322vw , 17.5rem );
    }
  }
  @supports not (width: clamp( 9.6875rem , 6.9105450237rem  +  11.8483412322vw , 17.5rem )) {
    .cards__wrap.row .item-card__image-wrap {
      width: calc(9.6875rem + 7.8125 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__image-wrap {
    width: 9.6875rem;
  }
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__info-name {
    font-size: 1.875rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.8125rem , 0.4348341232rem  +  1.6113744076vw , 1.875rem )) {
    .cards__wrap.row .item-card__info-name {
      font-size: clamp( 0.8125rem , 0.4348341232rem  +  1.6113744076vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 0.8125rem , 0.4348341232rem  +  1.6113744076vw , 1.875rem )) {
    .cards__wrap.row .item-card__info-name {
      font-size: calc(0.8125rem + 1.0625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__info-name {
    font-size: 0.8125rem;
  }
}
@media (max-width: 54.0625em) {
  .cards__wrap.row .item-card__info-name {
    margin-bottom: 13px;
  }
}
.cards__wrap.row .item-card__other {
  gap: 5px;
}
@media (min-width: 89.375em) {
  .cards__wrap.row .item-card__other {
    font-size: 0.9375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem )) {
    .cards__wrap.row .item-card__other {
      font-size: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , 0.3444905213rem  +  0.663507109vw , 0.9375rem )) {
    .cards__wrap.row .item-card__other {
      font-size: calc(0.5rem + 0.4375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .cards__wrap.row .item-card__other {
    font-size: 0.5rem;
  }
}
@media (max-width: 54.0625em) {
  .cards__wrap.row .item-card__other {
    width: 100%;
  }
}

.green {
  color: #3CBF32;
}

.item-card__user {
  padding-left: 10px;
}
@media (max-width: 54.0625em) {
  .item-card__user {
    display: none;
  }
}
.item-card__user-look {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.item-card__user-image {
  margin-right: 10px;
}
.item-card__user-image img {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  overflow: hidden;
}
.item-card__user-name {
  font-weight: 400;
  line-height: 1.1764705882;
  color: #858383;
}
@media (min-width: 89.375em) {
  .item-card__user-name {
    font-size: 1.0625rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.625rem , 0.4694905213rem  +  0.663507109vw , 1.0625rem )) {
    .item-card__user-name {
      font-size: clamp( 0.625rem , 0.4694905213rem  +  0.663507109vw , 1.0625rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.4694905213rem  +  0.663507109vw , 1.0625rem )) {
    .item-card__user-name {
      font-size: calc(0.625rem + 0.4375 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__user-name {
    font-size: 0.625rem;
  }
}
@media (max-width: 54.0625em) {
  .item-card__user-name {
    margin-bottom: 10px;
  }
}
.item-card__user-line {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 1.2777777778;
  color: #000000;
  white-space: nowrap;
}
@media (min-width: 89.375em) {
  .item-card__user-line {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem )) {
    .item-card__user-line {
      font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.5625rem , 0.3625592417rem  +  0.8530805687vw , 1.125rem )) {
    .item-card__user-line {
      font-size: calc(0.5625rem + 0.5625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__user-line {
    font-size: 0.5625rem;
  }
}
@media (min-width: 89.375em) {
  .item-card__user-line {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.125rem , -0.0971563981rem  +  0.9478672986vw , 0.75rem )) {
    .item-card__user-line {
      margin-bottom: clamp( 0.125rem , -0.0971563981rem  +  0.9478672986vw , 0.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.125rem , -0.0971563981rem  +  0.9478672986vw , 0.75rem )) {
    .item-card__user-line {
      margin-bottom: calc(0.125rem + 0.625 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__user-line {
    margin-bottom: 0.125rem;
  }
}
.item-card__user-line img {
  margin-right: 10px;
}
@media (min-width: 89.375em) {
  .item-card__user-line img {
    width: 1.25rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (width: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem )) {
    .item-card__user-line img {
      width: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem );
    }
  }
  @supports not (width: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem )) {
    .item-card__user-line img {
      width: calc(0.5625rem + 0.6875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__user-line img {
    width: 0.5625rem;
  }
}
@media (min-width: 89.375em) {
  .item-card__user-line img {
    height: 1.25rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 89.375em) {
  @supports (height: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem )) {
    .item-card__user-line img {
      height: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem );
    }
  }
  @supports not (height: clamp( 0.5625rem , 0.3181279621rem  +  1.0426540284vw , 1.25rem )) {
    .item-card__user-line img {
      height: calc(0.5625rem + 0.6875 * (100vw - 23.4375rem) / 65.9375);
    }
  }
}
@media (max-width: 23.4375em) {
  .item-card__user-line img {
    height: 0.5625rem;
  }
}
.item-card__user-btn:not(:last-child) {
  margin-bottom: 13px;
}
.item-card__user-btn.btn-green {
  margin-top: 35px;
}

.btn {
  background: #FFFFFF;
  border: 1px solid #3CBF32;
  border-radius: 10px;
  max-width: 210px;
  width: 100%;
  padding: 9px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3CBF32;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
@media (any-hover: hover) {
  .btn:hover {
    background: #edecec;
  }
}

.btn-green {
  color: #fff;
  border: none;
  background: #3CBF32;
}
@media (any-hover: hover) {
  .btn-green:hover {
    background: #32a22a;
  }
}

.item-card__mobile {
  display: none;
}
@media (max-width: 54.0625em) {
  .item-card__mobile {
    display: block;
    margin: 17px 0;
  }
}
